* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'HachiMaruPop';
    color: white;
}

@font-face {
    src: url('../fonts/HachiMaruPop-Regular.ttf');
    font-family: 'HachiMaruPop';
}

.container {
    background: linear-gradient(to right, #373b44, #4286f4);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto auto;
    grid-template-areas:
    "cabecalho"
    "principal"
    "footer";
}

.cabecalho {
    grid-area: cabecalho;
}

.principal {
    grid-area: principal;
}

.footer {
    grid-area: canvas;
}